@{
    ViewData["Title"] = "Market Summary";
}

<div class="alert alert-@ViewBag.StatusColor alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Market Status</h4>
    <strong>NSE/BSE is Currently : @ViewBag.MarketStatus</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<div class="col-md-4">
    <div class="card border-success shadow">
        <div class="card-header bg-success text-white">
            Top Gainer Today
        </div>
        <div class="caard-body">
            <h5 class="card-title">@ViewData["TopGainer"]</h5>
            <p class="card-text text-muted">
                Trading Volume: @{
                long vol = (long)ViewData["Volume"]!;
            }
            <strong>@vol.ToString("N0")</strong>
        </p>
    </div>
</div>
</div>

<div class="mt-4">
    <h5>Analyze</h5>
    <p>Try these URLs</p>
    <ul>
        <li><a href="/Analyze/RELIANCE/0">/Analyze/RELIANCE</a></li>
        <li><a href="/Analyze/TCS/7">/Analyze/TCS/7</a></li>
        <li><a href="/Analyze/INFY/90">/Analyze/INFY/90</a></li>
    </ul>
</div>