<h2>About Our Company</h2>

<div class="alert alert-info">
    We are a global IT solutions company.
</div>

<ul class="list-group">

    <li class="list-group-item">10+ Years Experience</li>

    <li class="list-group-item">500+ Clients</li>

    <li class="list-group-item">Industry Experts</li>

    <li class="list-group-item">Global Presence</li>

</ul>