<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">

        <h1>Welcome to Company Portal</h1>

        <p>
            We provide modern IT services and software solutions.
        </p>

        <a class="btn btn-primary btn-lg">Learn More</a>

    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consulting</h5>
                <p>Expert business consulting services.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Training</h5>
                <p>Professional training programs.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Software</h5>
                <p>Modern software solutions.</p>
            </div>
        </div>
    </div>

</div>