<h2>Software Products</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>CRM System</td>
            <td>3.0</td>
            <td><span class="badge bg-success">Active</span></td>
        </tr>

        <tr>
            <td>Inventory Manager</td>
            <td>2.5</td>
            <td><span class="badge bg-warning">Beta</span></td>
        </tr>

    </tbody>

</table>