<h2>Development Tools</h2>

<ul class="list-group">

    <li class="list-group-item">
        Visual Studio
        <span class="badge bg-primary">Popular</span>
    </li>

    <li class="list-group-item">
        Git
        <span class="badge bg-success">Recommended</span>
    </li>

    <li class="list-group-item">
        Docker
        <span class="badge bg-warning">Advanced</span>
    </li>

</ul>