<h2>Training Programs</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Web Development</h5>
                <p>HTML, CSS, JavaScript training.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Cloud Computing</h5>
                <p>AWS and Azure training.</p>
            </div>
        </div>
    </div>

</div>